$width--desktop-wide: 1920px;
$width--desktop-middle: 1536px;
$width--desktop-laptop: 1366px;
$width--desktop: 1024px;
$width--tablet: 768px;
$width--phone-mid: 470px;
$width--phone-min: 320px;

@mixin media--max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin media--min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
